<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>简单</string>
		<key>imageStr</key>
		<string>test</string>
		<key>filterArray</key>
		<array>
			<dict>
				<key>filterName</key>
				<string>老电影</string>
				<key>filterCode</key>
				<string>CIPhotoEffectChrome</string>
				<key>canVerb</key>
				<false/>
			</dict>
			<dict>
				<key>filterName</key>
				<string>胶片</string>
				<key>filterCode</key>
				<string>CIPhotoEffectFade</string>
				<key>canVerb</key>
				<false/>
			</dict>
			<dict>
				<key>filterName</key>
				<string>岁月</string>
				<key>filterCode</key>
				<string>CIPhotoEffectInstant</string>
				<key>canVerb</key>
				<false/>
			</dict>
			<dict>
				<key>filterName</key>
				<string>单色</string>
				<key>filterCode</key>
				<string>CIPhotoEffectMono</string>
				<key>canVerb</key>
				<false/>
			</dict>
			<dict>
				<key>filterName</key>
				<string>冷色</string>
				<key>filterCode</key>
				<string>CIPhotoEffectProcess</string>
				<key>canVerb</key>
				<false/>
			</dict>
			<dict>
				<key>filterName</key>
				<string>暖色</string>
				<key>filterCode</key>
				<string>CIPhotoEffectTransfer</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>艺术</string>
		<key>imageStr</key>
		<string>test</string>
		<key>filterArray</key>
		<array>
			<dict>
				<key>filterName</key>
				<string>木刻</string>
				<key>filterCode</key>
				<string>CIEdgeWork</string>
				<key>canVerb</key>
				<true/>
				<key>filterParameter</key>
				<array>
					<dict>
						<key>ParameterName</key>
						<string>CIAttributeTypeDistance</string>
						<key>ParameterType</key>
						<string>NSNumber</string>
						<key>ParameterDefault</key>
						<real>3</real>
						<key>ParameterVerb</key>
						<true/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>filterName</key>
				<string>测试6</string>
				<key>filterCode</key>
				<string>TEST</string>
				<key>canVerb</key>
				<true/>
			</dict>
			<dict>
				<key>filterName</key>
				<string>测试7</string>
				<key>filterCode</key>
				<string>TEST</string>
				<key>canVerb</key>
				<true/>
			</dict>
			<dict>
				<key>filterName</key>
				<string>测试8</string>
				<key>filterCode</key>
				<string>TEST</string>
				<key>canVerb</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>NOMO</string>
		<key>imageStr</key>
		<string>test</string>
		<key>filterArray</key>
		<array>
			<dict>
				<key>filterName</key>
				<string>测试</string>
				<key>filterCode</key>
				<string>TEST</string>
				<key>canVerb</key>
				<true/>
			</dict>
			<dict>
				<key>filterName</key>
				<string>测试</string>
				<key>filterCode</key>
				<string>TEST</string>
				<key>canVerb</key>
				<true/>
			</dict>
			<dict>
				<key>filterName</key>
				<string>测试</string>
				<key>filterCode</key>
				<string>TEST</string>
				<key>canVerb</key>
				<true/>
			</dict>
			<dict>
				<key>filterName</key>
				<string>测试</string>
				<key>filterCode</key>
				<string>TEST</string>
				<key>canVerb</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>NOMO</string>
		<key>imageStr</key>
		<string>test</string>
		<key>filterArray</key>
		<array>
			<dict>
				<key>filterName</key>
				<string>测试</string>
				<key>filterCode</key>
				<string>TEST</string>
				<key>canVerb</key>
				<true/>
			</dict>
			<dict>
				<key>filterName</key>
				<string>测试</string>
				<key>filterCode</key>
				<string>TEST</string>
				<key>canVerb</key>
				<true/>
			</dict>
			<dict>
				<key>filterName</key>
				<string>测试</string>
				<key>filterCode</key>
				<string>TEST</string>
				<key>canVerb</key>
				<true/>
			</dict>
			<dict>
				<key>filterName</key>
				<string>测试</string>
				<key>filterCode</key>
				<string>TEST</string>
				<key>canVerb</key>
				<true/>
			</dict>
		</array>
	</dict>
</array>
</plist>
